  .pagination__item
    background-color: white;

  .pagination__navigation
    background-color: white;

  .pagination__more
    color: white;

  .pagination__item--active
    background-color: #9c27b0;
